@import "options.css";

.page{
    position: relative;
    height: 500px;
    width: 750px;
    background-color: #dcdcdc;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    overflow-y: scroll;
}

#document-viewer{
    position: absolute;
    top: 50px;
    left: 0px;
    height: 800px;
    width: 750px;
    /*overflow-y: scroll;*/
}

.display-queue{
    position: absolute;
    top: 10px;
    left: 0px;
    height: 30px;
    width: 300px;
    overflow-y: scroll;
    border-color: #7fffd4;
    border-style: solid;
}