@import "options.css";

.button-divider{
    margin-right: 5px;
}

.display-queue{
    background-color: #D8BFD8;
    border-color: #00008B;
    border-style: solid;
    height: 30px;
    left: 0px;
    overflow-y: scroll;
    position: absolute;
    top: 10px;
    width: 745px;
}

.page{
    background-color: #dcdcdc;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 500px;
    overflow-y: scroll;
    position: relative;
    width: 750px;
}

#document-viewer{
    height: 800px;
    left: 0px;
    position: absolute;
    top: 50px;
    width: 750px;
}