.choose-option{
    font-weight: bold;
    list-style-type: square;
}

.option{
    background-color: #D8BFD8;
    border-color: #00008B;
    border-style: solid;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    height: 500px;
    left: 800px;
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    width: 300px;
}

.option-header{
    font-size: 150%;
}