@import "options.css";
@import "selector.css";

.button-divider{
    margin-right: 5px;
}

.display-queue{
    background-color: #D8BFD8;
    border-color: #00008B;
    border-style: solid;
    height: 40px;
    left: 0px;
    overflow-y: scroll;
    position: absolute;
    top: 10px;
    width: 750px;
}

.navigator{
    left: 40%;
    position: relative;
}

div.navigator > input[type="text"]{
    margin-right: 5px;
    width: 4ch;
}

.page{
    background-color: #dcdcdc;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 550px;
    overflow-y: scroll;
    position: relative;
    width: 750px;
}

.display-document-viewer{
    height: 800px;
    left: 0px;
    position: absolute;
    top: 50px;
    width: 750px;
}

/*
#document-viewer{
    height: 800px;
    left: 0px;
    position: absolute;
    top: 50px;
    width: 750px;
}*/