{% extends "navbar.html" %}
{% import "bootstrap/base.html" as wtf %}

{% block title %}Select Content{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}" />
{% endblock %}

{% block content %}
<div class="selection">
    <a href="{{ url_for('document_viewer.document_viewer') }}">Document Viewer</a>
</div>
<div class="selection">
    <a href="{{ url_for('content_management.document_upload') }}">Upload a document</a>
</div>
{% endblock %}